In [3]:
import pandas as pd
import wbdata

indicators = {
    "SP.POP.SCIE.RD.P6": "CapitalHumano",
}

# df_hc = wbdata.get_dataframe(indicators)
# df_hc.reset_index(inplace=True)
# notinc = df_hc['country'].unique()[0:49]
# df_hc = df_hc[~df_hc['country'].isin(notinc)]
# df_hc = df_hc.rename(columns = {'country':'Entity','date':'Year'})
# countries = pd.DataFrame(wbdata.get_countries())
# countries = countries[['id','name']].rename(columns = {'id':'Code','name':'Entity'})
# df_hc = df_hc.merge(countries, on='Entity', how='left')
# df_hc = df_hc.sort_values(by ='Year')
# df_hc.dropna(subset=['CapitalHumano'], inplace=True)
# df_hc.to_excel('Bases\capitalhumano.xlsx',index = False)
 
df_hc = pd.read_excel('Bases\capitalhumano.xlsx')
df_hc.drop('Entity', axis=1, inplace=True)
df_hc.tail()

      Year  CapitalHumano Code
1796  2022     169.271408  KEN
1797  2022     569.009827  MUS
1798  2022     381.765961  OMN
1799  2022     681.505981  KAZ
1800  2022    1823.026489  GEO